.itemForm {
  display: block;
  padding-right: 16px;
}

.itemLayout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 30px;
  row-gap: 30px;
  align-items: start;
  margin-top: 10px;
}

/* LEFT TOP */
.itemImage {
  grid-column: 1;
  grid-row: 1;
}

/* RIGHT TOP */
.itemDetailsActions {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.itemDetails {
  flex: 1;
}

.itemActions {
  margin-left: auto;
}

/* FULL WIDTH BOTTOM */
.itemDescription {
  grid-column: 1 / -1;
  grid-row: 2;
}
