.page {
  display: block;
  padding-right: 24px;
  padding-left: 24px;
}

.directory {
  border-bottom: 1px solid #D9D9D9;
}

.title {
  font-size: 14px;
  font-weight: 400;
  margin: 2px 0 0;
  color: #302A4E;
}

.pageLinks {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.itemLayout {
  display: grid;
  grid-template-columns: auto 1fr; /* images | details */
  grid-template-rows: auto auto;
  column-gap: 32px;
  row-gap: 32px;
  align-items: start;
}

/* LEFT TOP */
.itemImage {
  grid-column: 1;
  grid-row: 1;
}

/* RIGHT TOP */
.itemDetails {
  grid-column: 2;
  grid-row: 1;
}

/* FULL WIDTH BOTTOM */
.itemDescription {
  grid-column: 1 / -1;
  grid-row: 2;
}
