.actionsBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.errorText {
    font-size: 12px;
    color: #c62828;
}

.editButton,
.deleteButton {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #F5F5F5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.editButton:hover {
    background-color: #f5f5f5;
}

.deleteButton:hover {
    background-color: #fff1f0;
}

.icon {
    width: 20px;
    height: 20px;
}