.filterButton {
  /* Enforce no-shrink since it lives in a horizontal scroll container */
  flex-shrink: 0;
  /* Specific padding for filters */
  padding: 0 var(--spacing-lg) !important;
}

.active {
  color: var(--color-text-category) !important;
  font-weight: var(--font-weight-bold) !important;
}
