.title {
  font-size: 14px;
  margin: 2px 0 0;
  color: #8C8C8C;
  font-weight: 400;
}

.descriptionHeader {
  border-bottom: 1px solid #D9D9D9;
}

.placeholder {
  font-size: 14px;
  white-space: pre-line;
}
