.block
{
    border: 1px solid #8C8C8C;
    display: flex;
    flex-direction: column;
    width: clamp(160px, 100%, 220px);
    justify-self: center;
}

.picContainer
{
    background-color: #D9D9D9;
    padding: 5px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pic img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.picLink
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.title
{
    background-color: #8C8C8C;
    display: flex;
    justify-content: center;
}

.titleLink
{
    color: white;
    text-decoration: none;
    padding: 4px 0;
}

.actionBlock
{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 8px 0;
}
