.itemImages {
  display: flex;
  gap: 16px;
}

.mainImage {
  width: 500px;
  height: 500px;
  border: 3px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.icon {
  width: 34px;
  height: 34px;
}

.mainImage img:not(.icon) {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-height: 500px; /* same as main image */
  overflow-y: auto;
}

.thumb {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 2px solid #999;
}
