.deleteBtn {
    position: absolute;
    left: 6px;
    top: 6px;
    display: none;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    opacity: 0.85;
}

.deleteBtn:hover {
    opacity: 0.8;
}

.thumbWrap {
    position: relative;
    width: 120px;
    height: 120px;
    border: 2px solid #999;
    overflow: hidden;
}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbWrap:hover .deleteBtn {
    display: flex;
}
