.itemImages {
  display: flex;
  gap: 16px;
}

.mainImage {
  width: 500px;
  height: 500px;
  border: 3px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-height: 500px; /* same as main image */
  overflow-y: auto;
}

.thumb {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 2px solid #999;
  cursor: pointer;
}

.thumbActive {
  border-color: #222;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
}
