.itemImages {
  display: flex;
  gap: 16px;
}

.mainImage {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
}

.mainImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-height: 500px; /* same as main image */
  overflow-y: auto;
}

.thumb {
  width: 120px;
  height: 120px;
  object-fit: contain;
  cursor: pointer;
  background: #F5F5F5;
  border-radius: 10px;
}

.thumbActive {
  border: 1px solid #999;
  border-radius: 10px;
}
