.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  margin-left: auto;
}

.actionBtn {
  color: var(--color-primary);
}

.actionBtn:active {
  transform: scale(0.95);
  background-color: var(--glass-frame);
}
