@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family-base);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Prevent blue highlight on tap for all elements */
  -webkit-tap-highlight-color: transparent;

  background-image: url('../../app/desktop/layout/AppLayout/bg-main.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bodyLocked {
  overflow: hidden;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}
