.descriptionBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
}  

.title {
    font-size: 14px;
    margin: 2px 0 0;
    color: #8C8C8C;
    font-weight: 400;
}

.descriptionHeader {
    border-bottom: 1px solid #D9D9D9;
}

.description {
    height: 100%;
}

.placeholder {
    width: 100%;
    height: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 12px;
    font-family: inherit;
    font-size: 14px;
    resize: none;
    box-sizing: border-box;
}

.placeholder:focus {
    outline: none;
    border-color: #999;
}
