.page {
  display: block;
}

.topArea {
  width: 100%;
  margin-bottom: 12px;
}

.topBar {
  min-height: 37px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 0 0 12px;
}

.pageLinks {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 12px;
}
