.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  background-color: #FFF3E8;
  padding: 12px 16px;
  border-top: 1px solid var(--border-color);
  font-size: 14px;
  opacity: 0.85;
}

.pageLinks, .socialLinks{
  display: flex;
  gap: 12px;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  display: block;
}
