.directory {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.breadCrumbsLink {
    font-size: 13px;
    font-weight: 400;
    color: #2f3e56;
    text-decoration: none;
    line-height: 1;
}

.separator {
    font-size: 13px;
    font-weight: 400;
    color: #727789;
    line-height: 1;
}

@media (max-width: 1280px) {
    .breadCrumbsLink,
    .separator {
        font-size: 18px;
    }
}

@media (max-width: 960px) {
    .breadCrumbsLink,
    .separator {
        font-size: 13px;
    }
}
