.directory {
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    gap: 10px;
}

.breadCrumbsLink {
    font-size: 14px;
    font-weight: 400;
    margin: 2px 0 0;
    color: #302A4E;
    text-decoration: none;
}

.separator {
    font-size: 14px;
    font-weight: 400;
    margin: 2px 0 0;
    color: #302A4E;
}